.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.blogpost > img{
  width: 100%;
  /*position: relative;*/
}

.blogpost{
  padding: 0;
}

.blogpost-desc{
  color: white;
  position: absolute;
  text-align: left;
  padding-left: 20px;
  bottom: 5%;
}

.blogpost-desc > h3 > a {
 color: white;
}

.feedpost{
  width: 90%;
  margin: 0 auto;
  clear: both;
  height: 200px;
}
.feedImg{
  width: 300px;
  float: left;
}
.feedDesc{
  padding-left: 20px;
  /*clear: right;*/
  text-align: left;
  /*background-color: red;*/
}

