.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#myCarousel, .carousel-inner > .item > img{
  min-height: 200px;
}

.blogpost > img{
  width: 100%;
  /*position: relative;*/
}


.blogpost{
  padding: 0;
}

.blogpost:hover{
  transform: scale(1.2);
  transition-duration: .7s;
  z-index: 1;
}

.blogpost-desc{
  color: white;
  position: absolute;
  text-align: left;
  padding-left: 20px;
  bottom: 5%;
}

.blogpost-desc > h3 > a {
 color: white;
}

.feedpost{
  margin: 50px;
}

.feedImg{
  max-width: 100%;
}

.feedDesc{
  text-align: left;
}
/**{
  border: 1px solid red
}*/


