html{
    overflow-x: hidden; 
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#myCarousel, .carousel-inner > .item > img{
  min-height: 200px;
}

.blogpost > img{
  width: 100%;
}


.blogpost{
  padding: 0;
  margin-bottom: -1px;
}

.blogpost:hover{
  transform: scale(1.2);
  transition-duration: .7s;
  z-index: 1;
}

.blogpost:first-child:hover,
.blogpost:nth-child(4):hover {
  transform-origin: left;
}
.blogpost:nth-child(3):hover,
.blogpost:nth-child(6):hover {
  transform-origin: right;
}

.blogpost-desc{
  color: white;
  position: absolute;
  text-align: left;
  padding-left: 20px;
  bottom: 5%;
}

.blogpost-desc > h3 > a {
 color: white;
}

.feedpost{
  /*border: .1px solid rgb(211, 211, 211);*/
  /*padding: 10px 0;*/
}

.feedImg{
  max-width: 100%;
  opacity: 0.9;
}

.feedImg:hover{
  opacity: 1;
}

.feedDesc > *{
  color: black;
  text-align: left;
}


.feed-container:before{
  display: table;
  content: "";
  clear: both;
}

*{
  /*border: .1px solid red*/
}


footer{
  min-height: 220px;
  background-color: rgb(80, 80, 80);
  color: white;
}

.footer-div{
  margin-top: 40px;
}

.footer-div > ul> li{
  width: 100px;
  text-align: left;
  margin: 0 auto;
  list-style: none;
}

.footer-ul-links> li > a{
  color: white;
}

.footer-ul-links > li {
  padding-top: 5px;
}

li > a:hover{
  text-decoration: none;
  color: red;
}

a:hover{
  color:red;
}

#copy{
  color: rgb(211, 211, 211);
  font-size: 13px;
}


i{
  color: white;
}
#social-media-icons{
  padding: 0;
}
#social-media-icons > li{
  display: inline-block;
  padding: 0 7px;
}
.fa:hover{
  color:red;
}
#follow{
  text-align: center;
}

@media screen and (min-width: 990px){
  .feedpost {
    max-width: 90%;
    margin: 10px auto;
  }
}
@media screen and (max-width: 990px) {
  .blogpost:hover {
    transform: none;
  }
  .feedDesc{
    max-width: 95%;
    margin: auto; 
  }
  .footer-div > ul > li {
    text-align: center;
  }
  .footer-ul-links, .footer-div > ul{
    padding-left: 0;
  }
  footer > div:first-child{
    padding-top: 30px; 
  }
  footer > div:last-child{
    padding-bottom: 15px; 
  }
}